<div class="right_col" id="body_content" role="main">
    <div class="row">
        <div class="page-header">
            <h4 class="modal-title">비디오 추가</h4>
        </div>

        <form action="/channel/video/register" enctype="multipart/form-data"  method="post">
            <div class="form-group">
                <label for="type">비디오를 추가할 채널을 선택하세요.</label>
                <select class="form-control" name="channel_id" required>
                    {{#each result}}
                    <option value="{{channel_id}}">{{title}}</option>
                    {{/each}}
                </select>
            </div>

            <div class="form-group">
                <label for="title">비디오 제목을 입력하세요.</label>
                <input type="text" class="form-control" name="title"  placeholder="비디오 제목" required autocomplete="off" />
            </div>

            <div class="form-group">
                <label for="image">비디오 썸네일을 추가하세요. (권장 사이즈 284*159)</label>
                <input class="form-control" type="file" name="thumbnail" accept="image/jpg" required placeholder="비디오 썸네일을 첨부해주세요." />
            </div>

            <div class="form-group">
                <label for="title">영상 링크 (ex: https://youtu.be/ThGd9yzJT0Q )</label>
                <input type="text" class="form-control" name="link"  placeholder="영상 링크를 입력해주세요." required autocomplete="off" />
            </div>


            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="submit_channel_upload">추가하기</button>
            </div>
        </form>
    </div>
</div>